meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title= titulo
<meta property="og:title" content="FastShopping" />
<meta property="og:description" content="FastShopping | Entregas a domicilio en minutos" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://utfastshopping.herokuapp.com/" />
<meta property="og:image" content="https://res.cloudinary.com/dxmhr2agc/image/upload/v1600712723/fs_c1ewd1.png" />
link(rel='shortcut icon', href='/static/img/favicons/android-chrome-192x192.png', type='image/png')
link(rel='shortcut icon', href='/static/img/favicons/android-chrome-512x512.png', type='image/png')
link(rel="apple-touch-icon", sizes="180x180", href='/static/img/favicons/apple-touch-icon.png', type='image/png')
link(rel='shortcut icon', href='/static/img/favicons/favicon-16x16.png', type='image/png')
link(rel='shortcut icon', href='/static/img/favicons/favicon-32x32.png', type='image/png')
link(rel='shortcut icon', href='/static/img/favicons/favicon.ico', type='image/ico')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
link(rel='stylesheet', href='/static/css/style.css')
