.nav-content.sub-navb
  .container
    ul.tabs.tabs-transparent
      li.tab-item
        a.tab-link.white-text(href="/usuarios")
          span.tab-link-text Inicio
          i.material-icons add_shopping_cart
      li.tab-item
        a.tab-link.white-text(href="/usuarios/historial")
          span.tab-link-text Historial
          i.material-icons history
      li.tab-item
        a.tab-link.white-text(href="/usuarios/notificaciones")
          span.tab-link-text Notificaciones
          i#tab-notificacion.material-icons notifications
      li.tab-item
        a.tab-link.white-text(href="/usuarios/configuracion")
          span.tab-link-text Configuración
          i.material-icons settings
      li.tab-item
        a.tab-link.white-text(href="/logout")
          span.tab-link-text Cerrrar sesión
          i.material-icons power_settings_new
