.nav-content.sub-navb
  .container
    ul.tabs.tabs-transparent
      li.tab-item
        a.tab-link.white-text(href="/repartidores")
          span.tab-link-text Inicio
          i.material-icons store
      li.tab-item
        a.tab-link.white-text(href="/repartidores/logout")
          span.tab-link-text Cerrrar sesión
          i.material-icons power_settings_new
