.nav-content.sub-navb
    .container
        ul.tabs.tabs-transparent
            li.tab-item
                a.tab-link.white-text(href="/usuarios/perfil")
                    span.tab-link-text Perfil
                    i.material-icons account_circle
            li.tab-item
                a.tab-link.white-text(href="#")
                    span.tab-link-text Notificaciones
                    i.material-icons notifications
            li.tab-item
                a.tab-link.white-text(href="#")
                    span.tab-link-text Compras
                    i.material-icons account_circle
            li.tab-item
                a.tab-link.white-text(href="#")
                    span.tab-link-text Configuraciones
                    i.material-icons settings
            li.tab-item
                a.tab-link.white-text(href="/logout")
                    span.tab-link-text Cerrrar sesión
                    i.material-icons power_settings_new
