extends layout/index
block content
    section.container-centro
        .center-align
            img.img-area(src='../imagenes/Logo.png', width='300', alt='Logo de fastshpping')
            .center-align.area-btn
            a.boton.blue.radio-medio(href='Login.html') Login
        a.boton.blue.radio-medio(href='Registro.html') Registrar
