doctype html
html(lang='es-MX')
  include includes/head
  body
    .nav-content.sub-navb
      .container
        ul.tabs.tabs-transparent
            li.tab-item
              a.tab-link.white-text(href="#")
                span.tab-link-text Perfil
                i.material-icons account_circle
            li.tab-item
              a.tab-link.white-text(href="#")
                span.tab-link-text Notificaciones
                i.material-icons notifications
            li.tab-item
              a.tab-link.white-text(href="#")
                span.tab-link-text Compras
                i.material-icons account_circle
            li.tab-item
              a.tab-link.white-text(href="#")
                span.tab-link-text Configuraciones
                i.material-icons settings
            li.tab-item
              a.tab-link.white-text(href="/logout")
                span.tab-link-text Cerrrar sesión
                i.material-icons power_settings_new
    .container
      p.descripcion Llene el formulario para agregar un producto
    #contenido.contenido
      form#productos-formulario
        // Rellenado del nombre
        .row
          .input-field.col.s12.m8
            input#articulo.validate(type='text', name='articulo', required)
            label(for='articulo') Nombre Producto
          .input-field.col.s12.m4
            input#cantidad.validate(type='number', name='cantidad', required min="1")
            label(for='cantidad') Cantidad
          p#cambio-envio-contenedor
            label
              input#cambio-envio-checkbox.filled-in(type="checkbox")
              span ¿Quieres que alguien más reciba el pedido? (Quien recibe debe ser un usuario también)
          button.waves-effect.waves-light.btn.green.accent-4 Agregar producto
      ul#productos-lista.productos
          .row
            .input-field.col.s12
              textarea#notas.materialize-textarea(name="notas")
              label(for='notas') Agregue un comentario
      button#boton-enviar-pedido.waves-effect.waves-light.btn.blue.darken-3 Realizar pedido
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js', defer)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js", defer)
    script(src="/static/js/app.js", defer)
h