* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: #212121;
    align-items: center;
    justify-content: center;
    color: #fff;
}
nav{
	background: #3b5998;
}

.nav-wrapper{
	margin: auto;
	padding-bottom: 40px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.card{
	border-radius: 10px;
	background: rgba(0,0, 0, .6);
}


label{
	font-size: 16px;
	color: #ffffff;

}

input{
	font-size: 20px;
	color: #ffffff;
}

textarea{
	font-size: 16px;
	color: #ffffff;
}

.row{
	margin left: 5px;
}

button{
	background: #3b5998;
	color: #fff;
	display: inline-block;
	margin: auto;
	border: 0;
	padding: 10px;
	width: 70%;
	max-width: 200px;
	display: inline-block;
	border-radius: 15px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	
	
}


