doctype html
html(lang='es-MX')
  include ../includes/head
  body
    h1.center.titulo-panel-admin Panel de Administraci贸n

    #contenido.contenido
      h3.center-align Gesti贸n de Usuarios
      hr
      .row
        a.center-align.col.m6.buttons-panel-control(href="/admin/registrar-repartidor")
          h5 Agregar Repartidor
          img.responsive-img.img-admin-btn(src="/static/img/anadir.svg")
        a.center-align.col.m6.buttons-panel-control(href="/admin/plantilla-repartidores")
          h5 Lista de Repartidores
          img.responsive-img.img-admin-btn(src="/static/img/lista-usuarios.svg")
      h3.center-align Otras Configuraciones
      hr
      .row
        a.center-align.col.m6.buttons-panel-control(href="/admin/configuracion")
          h5 Configuraci贸n
          img.responsive-img.img-admin-btn(src="/static/img/ajustes-admin.svg")
        a.center-align.col.m6.buttons-panel-control(href="/admin/logout")
          h5 Cerrar Sesi贸n
          img.responsive-img.img-admin-btn(src="/static/img/cerrar-admin.svg")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
