doctype html
html(lang='es-MX')
  include ../includes/head
  body
    include ../includes/navbar-admin.pug

.container.contenido
  h3.text-center Registrar Repartidor
  hr
  .imagen-perfil.wrapper
    img(width='100px', src='img/usuario.svg', alt='')
    a.waves-effect.waves-teal.btn-flat(href='#') Seleccionar Imagen
  .row
    form.col-s12
      .row
        .input-field.col.s6
          input#nombre.validate(type='text', required='')
          label(for='nombre') Nombre completo
        .input-field.col.s6
          input#apellidos.validate(type='text', required='')
          label(for='apellidos') Apellido completo
      .input-field
        input#telefono.validate(type='tel', required='')
        label(for='telefono') Número de télefono
      .input-field
        input#localidad.validate(type='text', required='')
        label(for='localidad') Localidad
      .input-field
        input#colonia.validate(type='text', required='')
        label(for='colonia') Colonia
      .input-field
        input#email.validate(type='email', required='')
        label(for='email') Email o Correo electronico
      .input-field
        input#password.validate(type='password', required='')
        label(for='password') Contraseña minimo de 8 caracteres
  input#btn-register.btn-register-r(type='submit')

script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")