doctype html
html(lang='es-MX')
  include ../includes/head
  body
    include ../includes/messages
    .contenido
      h2.label1 Iniciar Sesión 
      form(action='/repartidores/signin', method='POST')
        .row
          .input-field.col.s12
            i.tiny.material-icons.prefix account_circle
            input#email.validate(type='email', placeholder='Escribe tu correo', required='', name="email", autofocus)
            label.label(for='email') Email
          .input-field.col.s12
            i.tiny.material-icons.prefix lock
            input#password.validate(type='password', placeholder='Escribe tu contraseña', minlength='8', maxlength='16', required='', name="password")
            label.label(for='Contraseña') Contraseña
        
          
        button.waves-effect.waves-light.btn-large.blue.darken-3(type='submit') Iniciar sesión
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
