doctype html
html(lang='es-MX')
  include ../includes/head
  body
    include ../includes/messages
    .contenido
      h2.label1 Registrate
      form(action='/usuarios', method="POST")
        .row
          .input-field.col.s12
            i.tiny.material-icons.prefix person
            input#nombre.validate(type='text', placeholder='Escribe tu nombre', required='', name="nombre")
            label.label(for='nombre') Nombre
          .input-field.col.s12
            i.tiny.material-icons.prefix person
            input#apellido.validate(type='text', placeholder='Escribe tu apellido', required='' name="apellido")
            label.label(for='apellido') Apellido
          .input-field.col.s12
            i.tiny.material-icons.prefix mail
            input#email.validate(type='email', placeholder='Escribe tu correo', required='' name="email")
            label.label(for='email') Correo electrónico
          .input-field.col.s12
            i.tiny.material-icons.prefix local_phone
            input#telefono.validate(type='tel', placeholder='Ingresa un número de tel.', required='', name="telefono", pattern="[0-9]{3}[0-9]{3}[0-9]{4}")
            label.label(for='telefono') Número de teléfono
          .input-field.col.s12
            i.tiny.material-icons.prefix lock
            input#password.validate(type='password', placeholder='Ingresa una contraseña de minimo 8 caracteres', minlength='8', maxlength='16', required='' name="password")
            label.label(for='password') Contraseña
        .auth-acciones
          a(href="/login") ¿Ya tienes cuenta? Inicia sesión
        button.waves-effect.waves-light.btn-large.blue.darken-3(type='submit') Iniciar sesión
    include ../includes/footer