doctype html
html(lang='es-MX')
  include ../includes/head
  body.auth
    .contenedor.z-depth-4
      h2.label1 Registrate
      form(action='')
        span.label(for='nombre')
          i.Tiny.material-icons person
          | Nombre
          | 					completo
        input(type='text', placeholder='Escribe tu nombre', required='')
        span.label(for='Usuario')
          i.Tiny.material-icons person
          | Nombre de
          | 					usuario
        input(type='Text', placeholder='Escribe un nombre de usuario', max='10', required='')
        span.label(for='telefono')
          i.Tiny.material-icons local_phone
          | Numero de
          | 					telefono
        input(type='tel', placeholder='Ingresa un numero de tel. o cel.', required='')
        span.label(for='correo')
          i.Tiny.material-icons mail
          | Correo
          | 					electronico
        input(type='email', placeholder='Escribe tu correo', required='')
        span.label(for='contraseña')
          i.Tiny.material-icons lock
          | Contraseña
        input(type='password', placeholder='Ingresa una contraseña de minimo 8 caracteres', min='8', max='16', required='')
        .clase-button
          input.button(type='submit', value='Registrar')
    include ../includes/footer