doctype html
html(lang='es-MX')
  include ../includes/head
  body
    include ../includes/navbar

    #contenido.contenido
        .row
            .col.s8
                h3 Historial de compras
            .col.s12
                hr
            .col.s4
                a.waves-effect.waves-light.btn.blue.darken-3(href="#") Ultimo mes
            .col.s12
                .history-pedidos.row
                    img.col.s2(src="/static/img/history-icon.svg") 
                    .col.s3 
                        p Compra finalizada 10/06/20
                        li Frijoles
                        li Arroz
                        li ...
                    a.col.s1(href="#")
                        i.material-icons navigate_next
                    
                
                p Aún no ha realizado pedidos 
                a(href="../usuarios") ¿Desea realizar alguno?
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js', defer)  