doctype html
html(lang='es-MX')
  include ../includes/head
  body
    include ../includes/navbar

    #contenido.contenido
      h3 Notificaciones
        hr
      .show-notification

script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js', defer)